body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header{
	display: flex;
	justify-content: space-around;
	border:2px solid black;
	margin: 5px;
	height: 70px;
}
nav {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 700px;
}
a{
	text-decoration: none;
	margin: 5px
}
.login-form{
	margin-right: 10px;
	margin-top: 5px;
}

.mainContainer{
	border:2px solid black;
	margin: 5px;
}
.footer{
	border:2px solid black;
	margin: 5px;
}
.movieElement{
 	display: flex;
 	flex-direction: row ;
 	margin: 10px;
 	padding-bottom: 10px;
 	border-bottom: 5px solid grey;

}
.movieData{
	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: flex-start;
 	margin: 10px; 
}
.userContainer{
	display: flex;
	border:2px solid black;
	margin: 5px;
	padding: 20px;
}
.userMenu{
	border:2px solid black;
	margin: 5px;
}
.userIndex{
	border:2px solid black;
	margin: 5px;
}
.registerContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	border:2px solid black;
	margin: 5px;
}
.registerForm{
	display: flex;
	flex-flow: column wrap;
}

#nameGroup{
	
}













