body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(50,255,150,.4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border:10px solid black;
	border-radius: 30px;
	margin: 30px;
	padding: 20px;
	height: 70px;
}
.header > p{
	font-size: 10px;
}
a{
	text-decoration: none;
	margin: 5px
}
.login-form{
	margin-right: 10px;
	margin-top: 5px;
}

.mainContainer{
	border:10px solid black;
	border-radius: 30px;
	margin: 30px;
	padding: 20px;
}
.footer{
	border-top: 10px solid black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 30px 40px 0 40px;
	padding: 20px;
}
#credits{
	display: flex;
	/*border: 2px solid green;*/
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}
.footer-img{
	/*border: 2px solid black;*/
	object-fit: contain;
	height: 30px;
}
#tmdb{
	margin-left: 50px;
}
#tmdb a > img{
	/*border: 2px solid red;*/
	object-fit: contain;
	height: 70px;
}
#movieGrid{
	display: flex;
 	flex-flow: row wrap;
 	justify-content: center;
}
.movieElement{
 	display: flex;
 	flex-flow: column wrap;
 	margin: 30px;
 	padding-bottom: 10px;
 	border-bottom: 5px solid grey;
 	width: 154px;

}
.movie-Poster{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.movie-Title{
	text-align: center;
	font-size: 12px;
	width: 154px;
}
.movieData{
	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: flex-start;
 	margin: 30px; 
}
.userContainer{
	display: flex;
	border:10px solid black;
	border-radius: 30px;
	margin: 30px;
	padding: 20px;
}
.userMenu{
	border: 5px solid black;
	border-radius: 30px;
	margin: 30px;
	padding: 20px;
}
.userIndex{
	border: 5px solid black;
	border-radius: 30px;
	margin: 30px;
	padding: 20px;
}
.registerContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	border:10px solid black;
	border-radius: 30px;
	margin: 30px;
	padding: 20px;
}
.registerForm{
	display: flex;
	flex-flow: column wrap;
}

#nameGroup{
	visibility: hidden;
}
#deleteAccount{
	visibility: hidden;	
}












